@font-face {
  font-family: overAll;
  src: url("./resources/LEMONMILK-Regular.otf");
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: overAll;
  letter-spacing: 2px;
  font-size: 18px;
}
#root {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: url(../resources/bg.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(46, 46, 46, 0.4);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: 99 !important;
}

.padding-sticky {
  padding-top: 50px;
}

.glass-morph {
  background: rgba(46, 46, 46, 0.4);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(46, 46, 46, 0.2);
  padding: 1rem;
  border-radius: 5px;
}
.glass-card {
  background: rgba(38, 38, 38, 0.85);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(38, 38, 38, 0.425);
}
#header a.active {
  color: red;
}
/*#header a.active {
  background-color: black;
}*/
